@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
}

:root {
	--primary: #6070ff;
	--primaryColor1: #2230d2;
	--secondary: #7f8cff;
	--neutral: #344563;
	--neutral5: #5e6c84;
	--neutralsN10: #f7f7f9;
	--neutral-icons: #505f79;
	--neutral-card: #172b4d;
	--neutralsN50: #c1c7d0;
	--neutralsN40: #dfe1e6;
	--neutralsN700: #253858;
	--neutralsN100: #7a869a;
	--primaryB50: #ebebff;
	--primaryB500: #396df2;
}

.btn {
	font-size: 17px;
	line-height: 24px;
	text-transform: capitalize;
	background: transparent;
	color: var(--primaryB500);
	border: 1.8px solid var(--primaryB500);
	cursor: pointer;
	border-radius: 8px;
	padding: 8px 10px;
	font-weight: 600;
	margin-bottom: 15px;
	letter-spacing: 0.03em;
	transition: all 0.3s ease-in-out;
}

/* hover */
.btn:hover {
	background-color: var(--primary);
	color: #fff;
}

/* pressed */
.btn:active {
	background-color: var(--primaryColor1);
	color: #fff;
}

/* disabled */
.btn:disabled {
	background-color: #fff;
	color: var(--neutral5);
}

.navbar {
	display: flex;
	justify-content: space-between;
	padding: 0 1.5rem;
	width: 100%;
}

.navbar .logo {
	color: var(--primary);
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
}

.navbar .fa-bars {
	color: var(--primary);
	font-size: 16px;
}

.main {
	background: url(img/header-shapes-mobile.svg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 7rem 1.5rem;
	display: flex;
	flex-direction: column;
}

.main h1 {
	font-size: 40px;
	line-height: 52px;
	font-weight: bold;
	color: var(--neutral);
}

.main p {
	font-size: 16px;
	line-height: 24px;
	padding: 12px 0;
	color: var(--neutral);
}

.main a {
	text-transform: uppercase;
	color: var(--secondary);
	font-weight: 500;
	font-size: 16px;
}

.main .main-icons {
	padding-top: 5px;
}

.main .main-icons ul {
	display: flex;
	justify-content: space-between;
	width: 180px;
}

.main .main-icons ul li a {
	font-size: 28px;
	color: var(--neutral-icons);
}

.works {
	width: 380px;
	background-color: #f7f7f9;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, 1fr);
	gap: 70px;
	padding: 20px;
}

.works .card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	margin: 0 auto;
	width: 327px;
	height: 552px;
	background-color: #fff;
	padding: 8px 16px;
	border-radius: 16px;
	border: 1px solid #dfe1e6;
}

.works .card img {
	width: 295px;
	height: 200px;
	border-radius: 8px;
	object-fit: cover;
}

.card h1 {
	font-size: 32px;
	line-height: 44px;
	font-weight: 700;
	color: var(--neutral-card);
	padding: 8px 0;
}

.card .card-details {
	display: flex;
	align-items: center;
}

.card .card-details h3 {
	font-size: 13px;
	line-height: 16px;
	font-weight: 600;
	color: var(--neutral);
	text-transform: uppercase;
}

.card .card-details i {
	font-size: 8px;
	color: var(--neutralsN50);
	padding: 0 13px;
}

.card .card-details h4 {
	font-size: 13px;
	line-height: 16px;
	text-transform: capitalize;
	font-weight: 600;
	color: var(--neutralsN100);
}

.card .card-description {
	padding-top: 10px;
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	color: var(--neutral);
}

.works .card-skills {
	padding: 20px 0;
}

.works .card-skills ul {
	width: 200px;
	display: flex;
	justify-content: space-between;
}

.works .card-skills ul li {
	border-radius: 8px;
	font-weight: 500;
	background-color: var(--primaryB50);
	font-size: 12px;
	margin: 0 4px;
	line-height: 16px;
	color: var(--primary);
	padding: 5px 12px;
}

.about {
	width: 380px;
	background-color: #fff;
	padding: 80px 20px;
}

.about h1 {
	font-size: 40px;
	line-height: 52px;
	font-weight: 700;
	color: var(--neutral-card);
}

.about p {
	padding: 10px 0;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: var(--neutral);
}

.connect {
	text-transform: uppercase;
	color: var(--secondary);
	font-weight: 500;
	font-size: 16px;
}

.about .main-icons ul {
	display: flex;
	justify-content: space-between;
	padding: 14px 0;
	width: 180px;
}

.about .main-icons ul li a {
	font-size: 22px;
	color: var(--neutral-icons);
}

.about button {
	margin-bottom: 35px;
	text-transform: none;
}

.about .main-skill {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	cursor: pointer;
}

.about .main-skill i {
	font-size: 20px;
	margin-right: 30px;
}

.about .main-skill h2 {
	font-size: 20px;
	line-height: 24px;
	color: #000;
	font-weight: 500;
}

.about .underline {
	border-bottom: 1px solid var(--neutralsN40);
	width: 100%;
	padding: 22px 0;
}

.about .skill {
	width: 95%;
	display: flex;
	align-items: center;
	background-color: var(--neutralsN10);
	margin: 8px 0;
	border-radius: 8px;
	padding: 10px;
	cursor: pointer;
}

.about .js {
	margin-top: 33px;
}

.about .css {
	margin-bottom: 33px;
}

.about .html {
	margin: 12px 0;
}

.about .skill img {
	width: 45px;
}

.about .skill h4 {
	font-size: 15px;
	line-height: 20px;
	font-weight: 500;
	color: var(--neutralsN700);
	margin-left: 10px;
}

.form {
	font-family: Poppins, "Times New Roman", Times, serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #6070ff;
	background-image: url("./img/contact-bg.svg");
	background-repeat: no-repeat;
	background-position: right;
	position: absolute;
	width: 375px;
	height: 700px;
	left: 0;
}

.form h2 {
	padding-top: 40px;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 52px;
	color: #fff;
	margin: 0;
}

.form p {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	color: #ebebff;
	text-align: center;
	padding: 5px 24px;
}

.form input,
button {
	display: block;
}

.sm-input {
	width: 320px;
	height: 48px;
	border-radius: 8px;
	background-color: #fff;
	border: 1px solid #cfd8dc;
	padding: 0 15px;
	margin: 20px 0;
}

.textarea {
	width: 320px;
	height: 170px;
	border-radius: 8px;
	background-color: #fff;
	border: 1px solid #cfd8dc;
	padding: 0 15px;
	margin: 15px 0;
}

.text {
	width: 273px;
	height: 140px;
	background-color: #fff;
	border: none;
	margin: 15px 15px 38px 12px;
}

.text::placeholder {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 20px;
	color: #b3bac5;
}

.form .btn {
	margin-top: 20px;
	width: 155px;
	height: 48px;
	border-radius: 8px;
	padding: 12px 16px;
	background-color: #fff;
	border: 1px solid #cfd8dc;
	font-family: Poppins, "Times New Roman", Times, serif;
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 24px;
	color: #6070ff;
	cursor: pointer;
}
